<div class="timeline-layout py-8">
    <div class="timeline-grid" [style.grid-template-rows]="gridTemplateRows">
        @for (tick of ticks; track tick.slug) {
            <div class="tick-cell" [style.grid-row]="tick.rowIndex + 1">
                <span
                    class="tick-row"
                    [matTooltip]="tick.label"
                    matTooltipPosition="right"
                    [attr.aria-label]="tick.label"
                    (mouseenter)="onTickHover(tick.rowIndex)"
                    (mouseleave)="onHoverEnd()"
                >
                    <span
                        class="tick"
                        [class.tick--year]="tick.isYearMark"
                        [class.tick--highlighted]="isHighlighted(tick.rowIndex)"
                        [class.tick--elongated]="isElongated(tick.rowIndex)"
                    ></span>
                </span>
            </div>

            <div class="milestone-cell" [style.grid-row]="tick.rowIndex + 1">
                @for (milestone of milestonesAt(tick.rowIndex); track milestone.entityId + milestone.type) {
                    <p
                        class="milestone-label"
                        (mouseenter)="onMilestoneHover(tick.rowIndex)"
                        (mouseleave)="onHoverEnd()"
                    >
                        {{ milestone.label }}
                    </p>
                }
            </div>
        }

        @for (span of spans; track span.entity.id) {
            <article
                class="employment-span"
                [style.grid-row]="span.rowStart + ' / ' + span.rowEnd"
                (mouseenter)="onContentHover(span.highlightTopRow, span.highlightBottomRow)"
                (mouseleave)="onHoverEnd()"
            >
                <div class="employment-span__content">
                    <div class="employment-span__header flex items-center gap-2">
                        @if (span.entity.icon) {
                            <div class="employment-span__icon border border-gray-200 rounded-lg p-1">
                                <app-icon
                                    [src]="span.entity.icon"
                                    [alt]="span.entity.title"
                                    [width]="32"
                                    [height]="32"
                                />
                            </div>
                        }
                        <div class="flex flex-col">
                            <h6 class="employment-span__heading">{{ span.heading }}</h6>
                            @if (span.entity.location) {
                                <p class="italic fs-medium">{{ span.entity.location }}</p>
                            }
                        </div>
                    </div>

                    @if (span.entity.description?.length) {
                        <ul class="employment-span__points">
                            @for (point of span.entity.description; track point) {
                                <li>{{ point }}</li>
                            }
                        </ul>
                    }
                </div>
            </article>
        }
    </div>
</div>
