<h5 class="my-1">Skills</h5>
<div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
        <label>Languages:</label>
        <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
            @for (language of languages; track language.name) {
            <app-skill-pill [skill]="language" />
            }
        </div>
        <!-- <p>JavaScript, TypeScript, Python, SQL, NoSQL</p> -->
    </div>
    <div class="flex items-center gap-2">
        <label>Frontend:</label>
        <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
            @for (frontend of frontend; track frontend.name) {
            <app-skill-pill [skill]="frontend" />
            }
        </div>
        <!-- <p>Angular, React, Node.js, Express.js, NestJS, MongoDB, PostgreSQL</p> -->
    </div>
    <div class="flex items-center gap-2">
        <label>Backend:</label>
        <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
            @for (backend of backend; track backend.name) {
            <app-skill-pill [skill]="backend" />
            }
        </div>
        <!-- <p>Node.js, Express.js, NestJS, MongoDB, PostgreSQL</p> -->
    </div>
    <div class="flex items-center gap-2">
        <label>Libraries:</label>
        <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
            @for (library of libraries; track library.name) {
            <app-skill-pill [skill]="library" />
            }
        </div>
        <!-- <p>Angular, React, RxJS, HTML, CSS/SCSS, Bootstrap, Tailwind, Angular Material, Syncfusion</p> -->
    </div>
    <div class="flex items-center gap-2">
        <label>Databases:</label>
        <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
            @for (database of databases; track database.name) {
            <app-skill-pill [skill]="database" />
            }
        </div>
        <!-- <p>PostgreSQL, MongoDB, CockroachDB, SQL Server, Redis, Kafka, Pinecone, Weaviate</p> -->
    </div>
    <div class="flex items-center gap-2">
        <label>Distributed:</label>
        <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
            @for (distributed of distributed; track distributed.name) {
            <app-skill-pill [skill]="distributed" />
            }
        </div>
        <!-- <p>Redis, Kafka, Pinecone, Weaviate</p> -->
    </div>
    <div class="flex items-center gap-2">
        <label>Cloud and DevOps:</label>
        <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
            @for (cloud of cloud; track cloud.name) {
            <app-skill-pill [skill]="cloud" />
            }
        </div>
        <!-- <p>AWS (EC2, Lambda, S3), Docker, Kubernetes, Jenkins, CI/CD</p> -->
    </div>
    <div class="flex items-center gap-2">
        <label>AI/ML:</label>
        <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
            @for (ai of ai; track ai.name) {
            <app-skill-pill [skill]="ai" />
            }
        </div>
        <!-- <p>ChatGPT, Gemini, Cursor, Ollama, LLM Studio, RAG & CAG Pipelines, Langchain</p> -->
    </div>
</div>
