.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .description {
        display: flex;
        justify-content: flex-end;

        .toggle {
            display: flex;
            align-items: center;
        }
    }
}
