<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center">
        <h1>Advaith Pandravada</h1>
        <h5>software engineer, sports enthusiast, can talk for hours</h5>
    </div>

    <div class="flex justify-end mt-4">
        <mat-slide-toggle
            labelPosition="before"
            [checked]="showProfessionalView"
            (change)="toggleView()"
            class="color-tertiary">
            <div class="flex items-center">
                @if (showProfessionalView) {
                <p>okay but <span class="color-primary">who am I</span> really?</p>
                } @else {
                <p>idc, <span class="color-danger">resume</span> please</p>
                }
                <mat-icon>arrow_forward</mat-icon>
            </div>
        </mat-slide-toggle>
    </div>
</div>

<router-outlet />
