<div class="headline">
    <div class="name">
        <h1>Advaith Pandravada</h1>
        <h5>software engineer, sports enthusiast, can talk for hours</h5>
    </div>

    <div class="description mt-4">
        <mat-slide-toggle labelPosition="before" [(ngModel)]="showProfessionalView" class="color-tertiary">
            <div class="toggle">
                @if (showProfessionalView) {
                <p>okay but <span class="color-primary">who am I</span> really?</p>
                } @else {
                <p>idc, <span class="color-danger">resume</span> please</p>
                }
                <mat-icon>arrow_forward</mat-icon>
            </div>
        </mat-slide-toggle>
    </div>
</div>

<div class="content">
    @if (showProfessionalView) {
    <app-professional />
    } @else {
    <app-personal />
    }
</div>
