<div class="flex flex-col items-center justify-center gap-2">
    <h1>Surya Advaith Pandravada</h1>
    <div class="flex items-center gap-4">
        <div class="flex items-center gap-1">
            <mat-icon>phone</mat-icon>
            <p>443-983-6664</p>
        </div>
        <div class="flex items-center gap-1">
            <mat-icon>email</mat-icon>
            <a href="mailto:suryaadvaithp@gmail.com">suryaadvaithp&#64;gmail.com</a>
        </div>
        <div class="flex items-center gap-1">
            <mat-icon>email</mat-icon>
            <a href="https://www.linkedin.com/in/advaithsurya">linkedin.com/in/advaithsurya</a>
        </div>
        <div class="flex items-center gap-1">
            <mat-icon>email</mat-icon>
            <a href="https://github.com/advaithsuryaP">github.com/advaithsuryaP</a>
        </div>
    </div>

    <mat-slide-toggle labelPosition="before" [checked]="showProfessionalView" (change)="toggleView()">
        <div class="flex items-center">
            @if (showProfessionalView) {
            <p>okay, but <span class="text-blue-600">who am I</span> really?</p>
            } @else {
            <p>idc, <span class="text-red-600">resume</span> please</p>
            }
            <mat-icon>arrow_forward</mat-icon>
        </div>
    </mat-slide-toggle>
</div>

<router-outlet />
