.container {
    display: flex;
    justify-content: center;

    .headline {
        display: flex;
        flex-direction: column;

        .name {
            display: flex;
            align-items: center;
        }

        .description {
            display: flex;
            justify-content: flex-end;

            .toggle {
                display: flex;
                align-items: center;
            }
        }
    }
}
